<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.swapping">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_round_repeat_24"
        android:label="@string/swapping"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SwAPPing"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.InternetConnectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.notifications.NegotiationDetailsActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"
            android:label="Szczegóły transakcji">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.searching.FilterActivity"
            android:exported="false"
            android:label="Filtruj" />
        <activity
            android:name=".ui.profile.UsersListActivity"
            android:exported="false"
            android:parentActivityName=".ui.profile.ProfileViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.profile.ProfileViewActivity" />
        </activity>
        <activity
            android:name=".ui.profile.ProfileViewActivity"
            android:exported="false"
            android:parentActivityName=".ui.AdDetails.AdDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.AdDetails.AdDetailsActivity" />
        </activity>
        <activity
            android:name=".ui.searching.SortActivity"
            android:exported="false"
            android:label="Sortuj" />
        <activity
            android:name=".ui.searching.ResultsSearchActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.searching.ClueWordSearchActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.userAds.UserAdsActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"
            android:label="Wybierz przedmioty">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.AdDetails.EditAdActivity"
            android:exported="false"
            android:parentActivityName=".ui.AdDetails.AdDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.AdDetails.AdDetailsActivity" />
        </activity>
        <activity
            android:name=".ui.AdDetails.AdDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_ad_details"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.userLogin.RegisterActivity"
            android:parentActivityName=".ui.userLogin.LoginActivity"
            android:label="Rejestracja">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.userLogin.LoginActivity" />
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.userLogin.LoginActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:noHistory="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.newAd.NewAdActivity"
            android:label="Dodaj ogłoszenie"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:label="Edytuj profil"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>